<h1><%= @post.title %></h1>

  <p>Created at: <%= @post.created_at %></p>
  <p>Description: <%= @post.description %></p>
  <p>By: <%= @post.name %></p>
  <p>Contact number: <%= @post.phone %></p>
  <p>Email-address: <%= @post.email %></p>
  <p>Last updated at: <%= @post.updated_at %></p>

<form></form>